#contenedor1{
	background-color: #1b85c8;
	max-width: 500px;
	min-width: 300px;
	max-height: 500px;
	min-height: 400px;
	text-align: center;
	margin-left: auto;
	margin-top: 70px;
	margin-bottom: auto;
	margin-right: auto;
	border-radius: 35px;
    padding: 80px;
}
.logo{
	max-width: 150px;
	min-width: 75px;
	max-height: 150px;
	min-height: 75px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	border-radius: 35px;
}
#base{
	margin-top: 100px;
	margin-left: auto;
	margin-bottom:auto;
	margin-right: auto;
	max-width: 500px;
	min-width: 300px;
	max-height: all;
	min-height: 400px;
	background-color: white;
	padding: 40px;
	border:solid 2.5px;
	font-family: verdana,arial;
	font-size: 14px;

}
.mitabla{
 height: auto;
 width: auto;
 margin-left: 170px;
 margin-top: -750px;
 padding: 70px;
 border-radius: 10px;
}
#menu{
  height: 700px;
  width: 235px;
  background-color: #1b85c8;
  margin-right: auto;
  padding: 5px;
}
#titulo{
	margin-top: 30px;
	margin-left: auto;
	margin-bottom:-60px;
	margin-right: auto;
	background-color: white;
	max-width: 1000px;
	min-width: 300px;
	max-height: 100px;
	min-height: 100px;
	border:solid 2.5px;

}
.fuente{
	font-size: 15px;
	font-family: verdana,arial;
	font-style: normal;
	font-weight: bold;
	padding: 20px;
}

.perfil{
  background-color: #fff;
  height: 100px;
  width: auto;
  border-radius: 10px;
}
.perf{
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 15px;
  
}
.crud{
	background-color: orange;
}