:root{
	/*colores sicasa*/
	--base: #f8f9f9 ;
	--color1 :  #2596be;
	--color2 : #173686;
	--color3 : #385542;
	--gris:  #aeb6bf ;
}
body{
	font-family:'Tinos', serif;
	font-size: 15px;
	padding: 0;
}
.he{
	background-color: var(--color1) ;
	text-align: center;
	color: #fff;
}
.contenedorindex{
	background-color: var(--base);
	text-align: center;
	padding: 9px;
	margin: 157px auto 190px auto;
	font-size: 20px;
}
.contenedordashalm{
	background-color: #3d6792 ;
	text-align: right;
	padding: 5px;
	margin: 50px auto auto auto;
	font-size: 15px;
	color: #fff;
}

.contenedorindex2{
	background-color: #3d6792 ;
	text-align: right;
	padding: 5px;
	margin: 50px auto 200px auto;
	font-size: 15px;
	color: #fff;
}
.footerindex{
	background-color: var(--color1);
	margin: 0px auto 0px auto;
	font-size: 14px;
	color: #fff;
}

.perfil_empresa{
	background-color: var(--color1);
	color: #fff;
	padding: 2.5px;
	font-size: 14px;
	margin: 0px auto 10px auto;
	font-family: 'Tinos', serif;
}
.contenedor1{
	margin: 10px auto;

}
.contenedor3{
	margin: auto auto auto auto;
}
.cerrar{
	height: 9px;
	width: 9px;
	font-size: 15px;
}
.barra{
	text-align: left;
	background-color: var(--color1);
	
}
